[tool.poetry]
name = "variant"
version = "0.0.15"
description = ""
authors = ["Chang Ye <yech1990@gmail.com>"]
license = "MIT"
readme = "README.md"
keywords = ["bioinformatics", "variant", "mutation", "RNA modification"]
repository = "https://github.com/yech1990/variant"

[tool.poetry.dependencies]
python = "^3.6"
pyensembl = "^1.9.4"
varcode = "*"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
setuptools = "57.4.0"

[tool.poetry.scripts]
variant-effect = 'variant.effect:run'

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

